{% load static %}

<!-- Header START -->
<header class="header-sticky header-absolute">
	
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			
			<a class="navbar-brand me-5" href="/">
				<img class="light-mode-item navbar-brand-item" src="{% static "assets/image/banner/logo/nexel_dark.png" %}" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="{% static "assets/image/banner/logo/nexel_light.png" %}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">

				<ul class="navbar-nav navbar-nav-scroll dropdown-hover mx-auto">

					<!-- Nav item -->
					<li class="nav-item ">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Company</a>
						<ul class="dropdown-menu">
							
							
							<!-- Dropdown Multilevel -->
							<li> 
								<a class="dropdown-item" href="{% url "about" %}">
									<i class="fa-fw bi bi-building me-2"></i>About Us
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="{% url "servicepage" %}">
									<i class="fa-fw bi bi-person-workspace me-2"></i>Services
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="{% url "teampage" %}">
									<i class="fa-fw bi bi-microsoft-teams me-2"></i>Our Team
								</a> 
							</li>
							{% comment %} <li> 
								<a class="dropdown-item" href="docs/index.html" >
									<i class="fa-fw bi bi-briefcase-fill me-2"></i>Career
								</a> 
							</li> {% endcomment %}
						</ul>
					</li>
					
				
				

					<li class="nav-item dropdown dropdown-fullwidth">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
						<div class="dropdown-menu py-0">
							<div class="row p-2 p-sm-4">
								<!-- Dropdown column item -->
								<div class="col-md-6 col-xl-4 col-xxl-3">
									<div class="d-md-flex gap-4 h-100">
										<!-- Links -->
										<ul class="list-unstyled w-100">
											<li class="dropdown-header h6 mb-2">All Services</li>
											{% for allservices in allservices %}
											<li> <a class="dropdown-item" href="{% url "service_details" allservices.slug %}"><i class="fa-fw bi bi-arrow-return-right"></i> {{allservices.name}}</a> </li>
											{% endfor %}
										</ul>
										<!-- Divider line -->
										<div class="vr ms-2 ms-auto d-none d-md-block"></div>
									</div>
								</div>

								<!-- Dropdown column item -->
								<div class="col-md-6 col-xl-4 col-xxl-5 h-100">
									<span class="dropdown-header h6 mb-2">Career</span>

									<!-- Dropdown item -->
									<div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">
										<div class="d-flex me-3">
											<!-- Icon -->
											<div class="icon-md border bg-body rounded flex-shrink-0"><i class="fa-solid fa-graduation-cap heading-color fs-6"></i></div>
											<!-- Content -->
											<div class="mx-2">
												<p class="stretched-link heading-color fw-bold mb-0">Internships</p>
												<p class="mb-0 text-body small">Join NEXEL: Premier Internship Opportunities for Top Interns</p>
											</div>
										</div>
										<!-- Button -->
										<a class="icon-link icon-link-hover text-primary-hover stretched-link" href="{% url "internship" %}" ><i class="bi bi-chevron-right"></i> </a>
									</div>

									<!-- Dropdown item -->
									<div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">
										<div class="d-flex me-3">
											<!-- Icon -->
											<div class="icon-md border bg-body rounded flex-shrink-0"><i class="fa-solid fa-user-graduate heading-color fs-6"></i></div>
											<!-- Content -->
											<div class="mx-2">
												<p class="stretched-link heading-color fw-bold mb-0">Trainings</p>
												<p class="mb-0 text-body small">Development guides for building projects with Mizzle</p>
											</div>
										</div>
										<!-- Button -->
										<a class="icon-link icon-link-hover text-primary-hover stretched-link" href="{% url "training" %}"><i class="bi bi-chevron-right"></i> </a>
									</div>

									<!-- Dropdown item -->
									<div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">
										<div class="d-flex me-3">
											<!-- Icon -->
											<div class="icon-md border bg-body rounded flex-shrink-0"><i class="fa-solid fa-users heading-color fs-6"></i></div>
											<!-- Content -->
											<div class="mx-2">
												<p class="stretched-link heading-color fw-bold mb-0">Developer Community</p>
												<p class="mb-0 text-body small">Join Nexel Developer Community Via Whatsapp or Telegram</p>
											</div>
										</div>
										<!-- Button -->
										<a class="icon-link icon-link-hover text-primary-hover stretched-link" href="https://chat.whatsapp.com/E194icWFyDiHsR4jCRojmu" target="_blank"><i class="bi bi-box-arrow-up-right"></i> </a>
									</div>

									<!-- Dropdown item -->
									<div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">
										<div class="d-flex me-3">
											<!-- Icon -->
											<div class="icon-md border bg-body rounded flex-shrink-0"><i class="fa-solid fa-cash-register fs-6"></i></div>
											<!-- Content -->
											<div class="mx-2">
												<a class="stretched-link heading-color fw-bold mb-0" href="#">Nexel Products</a>
												<p class="mb-0 text-body small">Tips and In-depth guide for headless browser automation</p>
											</div>
										</div>
										<!-- Button -->
										<a class="icon-link icon-link-hover text-primary-hover stretched-link" href="{% url "product_page" %}"><i class="bi bi-chevron-right"></i> </a>
									</div>
								</div>

								<!-- Feature resources card -->
								<div class="col-lg-4">
									<span class="dropdown-header h6 mb-2">Nexel Product</span>

									<!-- Feature card -->
									<div class="card bg-transparent px-3">
										<!-- Image -->
										<img src="{% static "assets/image/products\drivemaster\nexeldrivemaster.png" %}" class="rounded mb-3" alt="feature-img">
										<div class="card-body p-0">
											<h6><a href="#">Nexel Drive Master</a></h6>
											<p class="mb-2">All in one Integrated platform to grow your Vehicle rental Buisness</p>
											<a class="icon-link icon-link-hover stretched-link z-index-2" href="{% url "drivemaster" %}">Check it out<i class="bi bi-arrow-right"></i> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Protfolio</a>
							<div class="dropdown-menu dropdown-menu-center dropdown-menu-size-xl p-3">
								<div class="row g-xl-3">
									<!-- Work -->
									<div class="col-xl-8 d-none d-xl-block">
										<div class="d-flex gap-4">
											<!-- Card -->
											{% for project in portfolio|slice:":2" %}
											<div class="card bg-transparent">

												<!-- Image -->
												<img src="{{project.cardimg.url}}" class="card-img"  alt="">
												<!-- Card body -->
												<div class="card-body px-0 text-start pb-0">
													<h6><a href="#">{{project.title}}</a></h6>
													<p class="mb-2 small truncate-2-lines">{{project.shortdes}}</p>
													<a class="icon-link icon-link-hover stretched-link mb-0" href="{% url "portfolio_details" project.slug %}">Learn more<i class="bi bi-arrow-right"></i> </a>
												</div>
											</div>
											{% endfor %}
											

										
											<!-- Divider line -->
											<div class="vr ms-2"></div>
										</div>
									</div>

									<!-- Index nav links -->
									<div class="col-xl-4">
										<ul class="list-unstyled">
											<li class="dropdown-header h6">Protfolio</li>
											{% for project in portfolio|slice:":5" %}
											<li> <a class="dropdown-item" href="{% url "portfolio_details" project.slug %}"><i class="fa-fw bi bi-arrow-return-right"></i> {{project.title|slice:":28"}}..</a> </li>
											{% endfor %}
											<li> <a class="dropdown-item" href="{% url "portfolio" %}"><i class="fa-fw bi bi-arrow-return-right"></i> View All</a> </li>
										</ul>
									</div>
								</div>
							</div>
					</li>
					

					
					<!-- Nav item -->
					<li class="nav-item"> <a class="nav-link" href="{% url "contact_us" %}">Contact us</a> </li>
				</ul>
			</div>
			<!-- Main navbar END -->

			<!-- Buttons -->
			<ul class="nav align-items-center dropdown-hover ms-sm-2">
				<!-- Dark mode option START -->
				<li class="nav-item dropdown dropdown-animation">
					<button class="btn btn-link mb-0 px-2 lh-1" id="bd-theme"
					type="button"
					aria-expanded="false"
					data-bs-toggle="dropdown"
					data-bs-display="static">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"  class="bi bi-circle-half theme-icon-active fill-mode fa-fw" viewBox="0 0 16 16">
						<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
						<use href="#"></use>
					</svg>
					</button>

					<ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
						<li class="mb-1">
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
								<svg width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
									<path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
									<use href="#"></use>
								</svg>Light
							</button>
						</li>
						<li class="mb-1">
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
									<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
									<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
									<use href="#"></use>
								</svg>Dark
							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch me-1" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
									<use href="#"></use>
								</svg>Auto
							</button>
						</li>
					</ul>
				</li>
				<!-- Dark mode option END -->

				
				<!-- Buy now button -->
				<li class="nav-item d-none d-sm-block">
					<a href="{% url "start_business" %}" class="btn btn-sm btn-primary mb-0">Let's Start A Buisness</a>
				</li>
				<li class="nav-item position-relative ms-2 ms-sm-3">
					<a class="btn btn-light border btn-round mb-0"  href="{% url "dash_home" %}">
						<i class="bi bi-person fa-fw" ></i>
					</a>
				</li>
				<!-- Responsive navbar toggler -->
				<li class="nav-item">
					<button class="navbar-toggler ms-sm-3 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</button>
				</li>	
			</ul>

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->