{% extends "base/base.html" %}
{% load static %}
{% block head %}

	<title>Meet Our Team - Exceptional Talents Powering Nexel's Success</title>
    <meta name="description" content="Meet Nexel's Team: Software Developers, Designers & Digital Strategists. Collaborating to bring your ideas to life with expertise and innovative solutions.">
    <meta name="keywords" content="Software Development, Web Development, Android App Development, SEO Services, Digital Marketing, Branding Solutions, Mangalore Karnataka, India">
    <meta name="location" content="Mangalore, Karnataka, India">
    <meta name="author" content="Nexel-Futureize the Innovation">

	<!-- Social Media Meta Tags -->
	<meta property="og:title" content="Nexel: Innovative Software Development Company">
	<meta property="og:description" content="Leading software development company in Mangalore, Karnataka, offering web development, Android apps, SEO, digital marketing, and branding solutions.">
	<meta property="og:image" content="{{ads.image.url}}"> <!-- Add URL to your company logo or relevant image -->
	<meta property="og:url" content="https://www.nexel.in/">
	<meta name="twitter:card" content="summary_large_image">

	<!--Twitter-card-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Nexel - Futureize the innovation">
	<meta name="twitter:description" content="Leading software development company in Mangalore, Karnataka, offering web development, Android apps, SEO, digital marketing, and branding solutions.">
	<meta name="twitter:image" content="{{ads.image.url}}">

	<!-- Schema Markup for Local Business -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "LocalBusiness",
			"name": "Nexel",
			"description": "Leading software development company in Mangalore, Karnataka, specializing in web development, Android app development, SEO, digital marketing, and branding.",
			"url": "https://www.nexel.in",
			"logo": "{% static 'assets/images/favicon.ico' %}",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Mangalore",
				"addressRegion": "Karnataka",
				"postalCode": "570001",
				"addressCountry": "India"
			},
			"contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+91-9778165158",
				"contactType": "customer service"
			}
		}
	</script>

{% endblock head %}


{% block body %}
{% include "base/navbar_light.html" %}


<main>

    <section class="pt-7 pb-0">
        <div class="container-fluid pt-3 pt-xl-5">
            <div class="row">
                <div class="col-xxl-11 mx-auto">
                    <div class="card bg-parallax h-300px h-md-400px h-xl-500px overflow-hidden" style="background: none center center / cover no-repeat; z-index: 0;" data-jarallax-original-styles="background:url(assets/images/bg/04.jpg) no-repeat; background-size:cover; background-position:center;">
                        <!-- background dark overlay -->
                        <div class="bg-overlay bg-dark bg-opacity-50"></div>
                        <!-- Title -->
                        <div class="card-img-overlay d-flex align-items-center justify-content-center text-center z-index-2">
                            <h1 class="display-4 text-white">We're Superheroes</h1>
                        </div>
                    <div id="jarallax-container-0" class="jarallax-container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://mizzle.webestica.com/assets/images/bg/04.jpg&quot;); position: absolute; top: 0px; left: 0px; width: 1362.6px; height: 592px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; margin-top: 69px; transform: translate3d(0px, -70.6px, 0px);"></div></div></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row g-4 g-sm-6">
                <!-- Team item -->
                 {% for teams in teams %}
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="card card-img-scale bg-transparent overflow-hidden">
                        <!-- Social links -->
                        <div class="position-absolute top-0 end-0 z-index-2 m-3">
                            <ul class="list-inline mb-0 mb-2 mb-sm-0">
                                <li class="list-inline-item"> <a class="btn-icon btn-sm rounded mb-2 bg-twitter" href="{{teams.twitter}}"><i class="fab fa-fw fa-twitter"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn-icon btn-sm rounded mb-2 bg-instagram-gradient" href="{{teams.instagram}}"><i class="fab fa-fw fa-instagram"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn-icon btn-sm rounded mb-2 bg-linkedin" href="{{teams.linkedin}}"><i class="fab fa-fw fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                        <div class="card-img-scale-wrapper rounded-3">
                            <!-- Card Image -->              
                            <img src="{{teams.img.url}}" class="img-scale" alt="card image">
                        </div>
                        <!-- Card body -->
                        <div class="card-body text-center px-0 pb-0">
                            <h6 class="mb-0"><a href="#" class="stretched-link">{{teams.name}}</a></h6>
                            <small>{{teams.role}}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
                
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="row g-4 g-sm-5">
                <!-- Title and button -->
                <div class="col-lg-5">
                    <!-- Title -->
                    <h2 class="mb-3">Our Lifetime Achievements</h2>
                    <p class="mb-4">Join our team Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy.</p>
                    <!-- Button -->
                    <div class="text-center d-inline-block bg-light border rounded position-relative px-5 py-3">
                        <span class="heading-color">Work with us?</span> <a class="stretched-link ms-2" href="https://chat.whatsapp.com/E194icWFyDiHsR4jCRojmu">Join our community<span class="bi-chevron-right small ms-1"></span></a>
                    </div>
                </div>
    
                <!-- Award list -->
                <div class="col-lg-7 col-xl-6 ms-auto">
                    <div class="row row-cols-1 row-cols-sm-2 g-4 g-md-5">
                        <!-- Item -->
                         
                        {% comment %} <div class="col">
                            <h5>Awards</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item heading-color px-0">Honor / Unite agency / 2021</li>
                                <li class="list-group-item heading-color px-0">Honor / Unite agency / 2020</li>
                                <li class="list-group-item heading-color px-0">Honor / Med expert / 2020</li>
                                <li class="list-group-item heading-color px-0">Honor / Frame digital / 2020</li>
                                <li class="list-group-item heading-color px-0">Honor / Unite agency / 2019</li>
                            </ul>
                        </div>
    
                        <!-- Item -->
                        <div class="col">
                            <h5>CSS Design Award</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item heading-color px-0">Website of the day / Emporia / 2020</li>
                                <li class="list-group-item heading-color px-0">Special kudos / to ARCR / 2021</li>
                                <li class="list-group-item heading-color px-0">Special kudos / to ARCR / 2020</li>
                                <li class="list-group-item heading-color px-0">Special kudos / to Reformat club / 2019</li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>

  
</main>


{% include "base/footer_dark.html" %}
{% endblock body %}

